<a href="https://colab.research.google.com/github/komalk98/irirs_dataset_prediction_using_KNN/blob/main/irirs_dataset_prediction_using_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

REQUIRED LIB

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
flw = pd.read_csv("/content/sample_data/iris.csv")
flw.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [ ]:
flw.columns

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [ ]:
flw.isnull().sum()

Unnamed: 0      0
Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [ ]:
flw.describe()

       Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [ ]:
flw.shape

(150, 6)

In [ ]:
flw['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [ ]:
flw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   Sepal.Length  150 non-null    float64
 2   Sepal.Width   150 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:

x = flw.iloc[:,:5]
x.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           1           5.1          3.5           1.4          0.2
1           2           4.9          3.0           1.4          0.2
2           3           4.7          3.2           1.3          0.2
3           4           4.6          3.1           1.5          0.2
4           5           5.0          3.6           1.4          0.2

In [ ]:
x.drop('Unnamed: 0', axis=1, inplace=True)
x.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
y = flw.iloc[:,-1]
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

## ***DATA NORMALIZATION ***

In [ ]:
x =  preprocessing.StandardScaler().fit_transform(x)
x[0:4]

array([[-0.90068117,  1.01900435, -1.34022653, -1.3154443 ],
       [-1.14301691, -0.13197948, -1.34022653, -1.3154443 ],
       [-1.38535265,  0.32841405, -1.39706395, -1.3154443 ],
       [-1.50652052,  0.09821729, -1.2833891 , -1.3154443 ]])

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=1)
ytest.shape

(45,)

**Training and Predicting**

In [ ]:
kmod = KNeighborsClassifier(n_neighbors=3)
kmod.fit(xtrain, ytrain)
ypred = kmod.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
acc = accuracy_score(ytest, ypred)
acc

0.9777777777777777

Confusion matrix

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypred)
cm

array([[14,  0,  0],
       [ 0, 18,  0],
       [ 0,  1, 12]])

In [ ]:
df = pd.DataFrame(data=cm, index=['setosa','versicolor','virginica'], columns=['setosa','versicolor','virginica'])
df

            setosa  versicolor  virginica
setosa          14           0          0
versicolor       0          18          0
virginica        0           1         12

In [ ]:
predout = pd.DataFrame(data=[ytest.values,ypred], index=['ytest','ypred'])
predout.transpose()

         ytest       ypred
0       setosa      setosa
1   versicolor  versicolor
2   versicolor  versicolor
3       setosa      setosa
4    virginica   virginica
5   versicolor  versicolor
6    virginica   virginica
7       setosa      setosa
8       setosa      setosa
9    virginica   virginica
10  versicolor  versicolor
11      setosa      setosa
12   virginica   virginica
13  versicolor  versicolor
14  versicolor  versicolor
15      setosa      setosa
16  versicolor  versicolor
17  versicolor  versicolor
18      setosa      setosa
19      setosa      setosa
20  versicolor  versicolor
21  versicolor  versicolor
22  versicolor  versicolor
23      setosa      setosa
24   virginica   virginica
25  versicolor  versicolor
26      setosa      setosa
27      setosa      setosa
28  versicolor  versicolor
29   virginica   virginica
30  versicolor  versicolor
31   virginica   virginica
32  versicolor  versicolor
33   virginica   virginica
34   virginica   virginica
35      setosa      setosa
36  versicolor  versicolor
37      setosa      setosa
38  versicolor  versicolor
39   virginica   virginica
40   virginica   virginica
41      setosa      setosa
42   virginica  versicolor
43   virginica   virginica
44  versicolor  versicolor

In [ ]:
predout.iloc[0,:].value_counts()

versicolor    18
setosa        14
virginica     13
Name: ytest, dtype: int64

**how to calculate the value of K\**